/****************
        INDEX
*****************/
$light-blue:#abd1c6;
$topnav:#004643;
$btn-a-act-hov-locli:#f9bc60;
$a-li:#f9bc66;
$btn-contact-text:#001e1d;
$heading:#fffffe;
$icon:#e8e4e6;
$div:#004643;
$li-tours:#e16162;
$li-i:#02524f;
/*******************
            ISTANBUL
*******************/
$ist-nav-copy:#010101;
$ist-a:#f2f2f2;
$ist-btn-a-hov-act-bg:#7f5af0;
$ist-heading:#fffffe;
$ist-p:#94a1b2;
$ist-slide-hov:#2cb67d;
$ist-white:#fffffe;
/*******************
            PYRAMIDS
*******************/
$py-head:#fffffe;
$py-p:#a7a9be;
$py-btn-li-bg:#ff8906;
$py-btn-dot-i-bg-hov:#e53170;
/*******************
            SIGN-IN
*******************/
$s-bg1:#03A9f4;
$s-bg2:#e91e63;
$s-text:rebeccapurple;
