@import './_mixins';
@import './_variables';

body{
    @include bg($light-blue);
}
button{
background-color: $btn-a-act-hov-locli;
border: 1px solid $btn-a-act-hov-locli;
color: $btn-contact-text; 
}
h2{
    color:$heading;
}
p{
color: $light-blue;
}
i{
color: $icon;
}
.topnav{
    background-color: $topnav;
}

.topnav{
    a:hover,
    a:active{
        background-color: $a-li;
    }

}
.about{
    background-color: $div;
}
.service .item{
    border: 1px solid $div;
    background-color: $div;
}
.tours{
    .item{
        background-color: $div;
    }
    li{
        color: $li-tours;
    }
}

.location{
    background-color: $div;
}
.location li{
    color: $a-li;
}

.location{
    input,
    textarea{
        background-color: $light-blue;
    }
}

.contact {
    i,
    li{
        color:$li-i;  
    }
}
.copy{
    background-color: $div;
    color: white;
}
/**************************************************I S T A N B U L********************/
#ist-body{
@include bg($ist-bg);
}
.istanbuul{
    button{
        background-color: $ist-btn-a-hov-act-bg;
        border: 1px solid $ist-btn-a-hov-act-bg;
        color: $ist-white;
    }
    .topnav{
        background-color: $ist-nav-copy;
    }
}

.istanbuul .topnav a{
    color: $ist-a;
}
.istanbuul .topnav a:hover,
.istanbuul .topnav a:active{
    background-color: $ist-btn-a-hov-act-bg;
    color: white;
}

.istanbuul {
    h1{
        color: $ist-heading;
    }
    p{
        color: $ist-p;
    }
}

.istanbuul .prev, 
.istanbuul .next{
    background-color: $ist-btn-a-hov-act-bg;
    color: white;
}
.istanbuul .prev:hover,
.istanbuul ,.next:hover{
background-color: $ist-slide-hov;
color: white;
}
.istanbuul .dot{
    background-color: $ist-btn-a-hov-act-bg;
}
.istanbuul .active, .istanbuul .dot:hover{
    background-color: $ist-slide-hov;
}
.istanbuul{
    .contact{
        li{
            color: $ist-btn-a-hov-act-bg;
        }
        i{
            color: $ist-slide-hov;
        }
    }
}
.istanbuul{
    h3{
        color: white;
    }
    .copy{
        background-color: $ist-nav-copy;
        color: white;
    }
}

.istanbuul span.colored_list{
    color: $ist-btn-a-hov-act-bg;
}
/*********************************************************P Y R A M I D Z ************/
.pyramidz{
    @include bg($py-bg);
}
.pyramidz{
    h1,h3{
        color: $py-head;
    }
}

.pyramidz p{
    color: $py-p;
}
.pyramidz{
    .prev,.next{
        color: $py-head;
        background-color:$py-btn-li-bg;
    }
}

.pyramidz .prev:hover, .pyramidz .next:hover{
    background-color: $py-btn-dot-i-bg-hov;
    color: white;
}
.pyramidz .dot{
    background-color: $py-btn-li-bg;
}
.pyramidz .active, .pyramidz .dot:hover{
    background-color:$py-btn-dot-i-bg-hov;
}

.pyramidz{
    .contact{
        li{
            color: $py-btn-li-bg;
        }
        i{
            color: $py-btn-dot-i-bg-hov;
        }
    }
    .copy{
        background-color: $py-btn-dot-i-bg-hov;
        color: white;
    }
    .topnav{
        background-color: $py-btn-li-bg;
    }
}

.pyramidz .topnav a:hover {
    background-color: $py-btn-dot-i-bg-hov;
    color: white;
}
/*******************************************S I G N I N****************/
body.signi{
    background-image: linear-gradient(to bottom right,$s-bg1,$s-bg2);
}

.signi{
    #a,#b{
        color: $s-text;
    }
}
.signi h2,
.signi .agreement{
    color: white;
}